 @import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Inter&display=swap');
*{
    box-sizing: border-box;
    font-family: 'work sans';
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

.contenedor-header{
    background: grey;
    position: fixed;
    width: 100pc;
    top: 0;
    left: 0;
    z-index: 99;
}
.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.contenedor-header header .logo a{
    font-family: 'righteous';
    font-size: 36px;
    color: black;
    text-decoration: none;
}
.contenedor-header  header ul{
    display: flex;
    list-style: none;
}
.contenedor-header header nav ul li a{
    text-align: none;
    color: beige;
    margin: 0 15px;
    padding: 3px;
    transition: 5s;
    text-decoration: none;
}
.contenedor-header header nav ul li a:hover{
    color: blueviolet;
}
.nav-responsive{
    background-color: burlywood;
    color: aliceblue;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;

}

.inicio{
    background: linear-gradient(to top, black (30,35,38,.8), black (30,35,38,1))
    background-image url(fondo.jpg);
    background-size: cover;
    height: 100vh;
    color: black;
    display: flex;
    align-items: center;
    background-image: url(fondo.jpg);
}

.inicio .contenido-banner{
    padding: 20px;
    background-color: #999999;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;

}

.inicio .contenido-banner img{
    margin-top: 40px;
    border: 10px solid #999999;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 10%;
}

.inicio .contenedor-banner h1{
    margin-top: 40px;
    font-size: 42px;
    font-family: 'righteous';
}

.inicio .contenedor-banner h2{
    font-size: 15px;
    font-weight: normal;
}

.inicio .contenedor-banner .redes a{
    color: blanchedalmond;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #FFFFFF;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 48px 5px;
    font-size: 20px;
    transition: .3s;
}

.inicio .contenido-banner .redes a:hover{
    background-color: blueviolet;

}

.sobremi{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}

.sobremi .contenido-section{
    max-width: 1100px;
    margin: auto;
}

.sobremi h2{
    font-size: 48px;
    font-family: 'righteous';
    text-align: center;
    padding: 20px 0;

}

.sobremi .contenido-seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}

.sobremi .contenido-seccion p span{
    color:aquamarine;
    font-weight: bold;
}

.sobremi .fila{
    display: flex;
}

.sobremi .fila .col{
    width: 50%;
}

.sobremi .fila .col h3{
    font-size: 28px;
    font-family: 'righteous';
    margin-bottom: 25px;
}

.sobremi .fila .col ul{
    list-style: none;
}

.sobremi .fila .col ul li{
    margin: 12px 0;
}

.sobremi .fila .col ul li strong{
    display: inline-block;
    color: aquamarine;
    width: 130px;
}

.sobremi button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.sobremi button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #B2BABB;
    z-index: -1;
    transition: 1s;
}

.sobremi button:hover .overlay{
    width: 100%;
}

.habilidades{
    background-color: #212F3D;
    color: #fff;
    padding: 50px 20px;
}

.habilidades .contenido-section{
    max-width: 1100px;
    margin: auto;
}

.habilidades h2{
    font-size: 48px;
    font-family: 'righteous';
    text-align: center;
    padding: 20px 0;

}

.habilidades .fila{
    display: flex;
}

.habilidades .fila .col{
    width: 50%;
    padding: 0 20px;
}

.habilidades .fila .col h3{
    font-size: 28px;
    font-family: 'righteous';
    margin-bottom: 25px;
}

.habilidades .habilidades > span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.habilidades .habilidades .barra-habilidades{
    height: 8px;
    width: 80%;
    background-color: #839192;
    position: relative;
    margin-bottom: 30px;
}

.habilidades .habilidades .progreso{
    background-color: aquamarine;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}

.habilidades .habilidades .barra-habilidades span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: aqua;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}

.habilidades .habilidades .fundamentos-básicos-de-la-informatica{
    width: 0%;
    animation: 2s fundamentos básicos de la informatica forwards;
}

@keyframes fundamentos-básicos-de-la-informatica{
    0%{width: 0%;}
    100%{width: 75%;}
}

.habilidades .habilidades .capaz-de-adaptarme-al-cambio{
    width: 0%;
    animation: 2s capaz de adaptarme al cambio forwards;
}

@keyframes capaz-de-adaptarme-al-cambio{
    0%{width: 0%;}
    100%{width: 80%;}
}

.habilidades .comunicación{
    width: 0%;
    animation: 2s comunicación forwards;
}

@keyframes comunicación{
    0%{width: 0%;}
    100%{width: 99%;}
}

.habilidades .creatividad{
    width: 0%;
    animation: 2s creatividad forwards;
}

@keyframes creatividad{
    0%{width: 0%;}
    100%{width: 70%;}
}

.portafolio{
    background-color: #1C2833;
    color: #fff;
    padding: 50px 20px;
}

.portafolio .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.portafolio h2{
    font-size: 48px;
    font-family: 'righteous';
    text-align: center;
    padding: 20px 0;
}

.portafolio .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portafolio .galeria .proyecto{
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}

.portafolio .galeria .proyecto img{
    width: 100%;
    display: block;

}

.portafolio .galeria .proyecto .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(28,182,152,.8), rgba(28,182,152,.8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
     opacity: 0; 
}

.portafolio .galeria .proyecto .overlay h3{
    margin-bottom: 20px;
    transition: 1s;
}

.portafolio .galeria .proyecto .overlay:hover{
    opacity: 1;
}

.portafolio .galeria .proyecto .overlay:hover h3{
    margin-bottom: 0px;
}

.contacto{
    background-image: url(fondo.jpg);
    background-color: #212F3D;
    color: #fff;
    padding: 50px 0;
}

.contacto .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.contacto h2{
    font-size: 48px;
    font-family: 'righteous';
    text-align: center;
    padding: 20px 0;
}

.contacto .fila{
    display: flex;
}

.contacto .col{
    width: 50%;
    padding: 10px;
    position: relative;
}

.contacto .col .input, .contacto .col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: white;
    color: #fff;
    font-size: 18px;
}

.contacto button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.contacto button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1C2833;
    z-index: -1;
    transition: 1s;
}

.contacto button:hover .overlay{
    width: 100%;
}

.contacto .col img{
    width: 100%;
}

.contacto .col .info{
    position: absolute;
    top: 40%;
    background-color: #1e2326;
    padding: 20px;
    max-width: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contacto .col .info ul{
    list-style: none;
}
.contacto .col .info ul li{
    margin-bottom: 20px;
}

.contacto .col .info ul li i{
    color: aquamarine;
    display: inline-block;
    margin-right: 20px;
}

.foto img{
    width: 300px; 
    height: auto; 
}
 
@media screen and (max-width:980px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #1e2326;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}

@media screen and (max-width:700px){
    .sobremi .fila{
        display: block;
    }
    .sobremi .fila .col{
        width: fit-content;
    }
    .habilidades .fila{
        display: block;
    }
    .habilidades .fila .col{
        width: 100%;
    }
    .habilidades .fila .col .barra-habilidades{
        width: 100%;
    }
    .portafolio .galeria{
        display: block;
        width: 100%;
    }
    .portafolio .galeria .proyecto{
        max-width: 100%;
    }
    .portafolio .galeria .proyecto img{
        width: 100%;
    }
    .contacto .fila{
        display: block;
    }
    .contacto .fila .col{
        width: 100%;
        
    }
}







